/* Start Global Variables */
:root {
  /* Gradient */
  --main-color-1: #102D4F;
  --main-color-2: #054A88;
  --main-color-3: #0057A2;
  --main-color-4: #FF8D00;
  --main-color-5: #003B6E;
  --main-color-6: #0D2541;
  --border-color: #A2C5DC;
  --border-color-light: #A2C5DC29;
  --secondary-color: #102D4F;
}
/* End Global Variables */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

@font-face {
  font-family: 'OwnersText';
  src: url('../fonts/OwnersText-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OwnersText';
  src: url('../fonts/OwnersText-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'OwnersText';
  src: url('../fonts/OwnersText-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: 'OwnersText';
  padding: 0;
  margin: 0;
  height: 100%;
  background-image: linear-gradient(to bottom ,var(--main-color-1),var(--main-color-2),var(--main-color-3));
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
@media (max-width:767px),
(min-width:768px) {
  .container {
    padding: 32px 24px 0;
  }
}
/* @media (min-width:992px) {
  .container {
    padding: 32px 35px;
  }
} */
@media (min-width:1200px) {
  .container {
    padding: 32px 50px 17px;
  }
}
/* Start Framework */
.between-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-white {
  color: white;
}
.cur-pointer {
  cursor: pointer;
}
.tr-3s {
  transition: 0.3s;
}
/* End Framework */

/* Start Header */
.header {
  position: relative;
  z-index: 1;
  height: 109px;
}
.header .container {
  height: 100%;
}
.header a {
  color: white;
}
.header a:hover {
  text-decoration: underline;
}
.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav-left,
.header .nav-right {
  display: flex;
  gap: 58px;
}
@media (max-width: 1400px) {
  .header .nav-left,
  .header .nav-right {
    display: none;
  }
}
@media (min-width: 1401px) {
  .header .nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
.header .nav-center {
  height: 50px;
  z-index: 1000;
}
.header .menu {
  display: none;
  color: white;
  cursor: pointer;
}
.header .menu svg {
  width: 36px;
  height: 36px;
  stroke: white;
  position: relative;
  z-index: 1000;
}
@media (max-width: 1400px) {
  .header .menu {
    display: inline-flex;
    margin-left: auto;
  }
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-btn {
  background: transparent;
  color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}
.dropdown-btn:focus {
  outline: none;
}
#arrow {
  margin-left: 8px;
  transition: transform 0.3s ease;
  display: inline-block;
}
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #0d1d35;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 10;
  border-radius: 6px;
  margin-top: 5px;
}
.dropdown-menu a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-menu a:hover {
  background-color: #1a2b4d;
}
.dropdown:hover #arrow {
  transform: rotate(180deg);
}
.dropdown:hover .dropdown-menu {
  display: block;
}
/* Default hide menu icon */
.menu {
  display: none;
  cursor: pointer;
  color: white;
}
/* Sidebar style */
.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100%;
  background-image: linear-gradient(to bottom ,var(--main-color-1),var(--main-color-2),var(--main-color-3));
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 20px;
  box-shadow: -2px 0 10px rgba(0,0,0,0.3);
  transition: right 0.5s;
  text-align: center;
  z-index: 999;
  right: -100%;
}
.sidebar.show {
  right: 0;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  display: none;
}
.overlay.show {
  display: block;
}
@media (max-width: 767px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar a {
  display: block;
  color: white;
  margin: 48px 0 0;
  text-decoration: none;
  font-size: 18px;
}
@media (max-width: 767px) {
  .sidebar a {
    margin: 36px 0 0;
  }
}
.sidebar a:first-child {
  margin-top: 122px;
}
.sidebar .close-btn {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
  color: white;
}
/* Responsive */
@media (max-width: 1199px) {
  .nav-left, .nav-right {
    display: none;
  }
  .menu {
    display: block;
  }
}
/* End Header */
/* Start Subscription Page */
.subscription-page .container {
  text-align: center;
}
.subscription-page h1 {
  margin: 0;
  color: white;
}
.subscription-page p {
  margin-bottom: 40px;
  color: white;
}
.subscription-page .sub-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.subscription-page .sub-btns button.active {
  background-color: var(--main-color-3);
}
.subscription-page button {
  display: block;
  border: none;
  border: 1.2px solid var(--main-color-3);
  background-color: var(--main-color-1);
  color: white;
  border-radius: 6px;
  padding: 15px 30px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.subscription-page button:hover {
  background-color: var(--main-color-3);
}
.form-wrapper {
  background-color: var(--main-color-3);
  border-radius: 12px;
  /* padding: 64px 49px; */
  margin: auto;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  max-width: 100%;
  position: relative;
  z-index: 0;
  margin-top: 64px;
  /* hide */
  height: 0;
  opacity: 0;
  transition: height 1s ease, opacity 1s ease, padding 1s ease, margin 1s ease;
  padding: 0;
  margin: 0;
}

.form-wrapper.show {
  opacity: 1;
  padding: 64px 49px;
  margin-top: 64px;
}
.form-wrapper input[type='number']::scroll-marker {
  display: none;
}
.subscription-form {
  display: none;
}
.subscription-form.show {
  display: grid;
}
.subscription-form .form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px 40px;
}
@media (max-width: 767px) {
  .subscription-form .form-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.subscription-form .form-grid:not(:last-of-type) {
  border-bottom: 2px solid var(--border-color-light);
  margin-bottom: 64px;
  padding-bottom: 64px;
}
.subscription-form .form-grid:nth-last-of-type(2) {
  border-bottom: 0;
  margin-bottom: 0;
}
.form-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
  position: relative;
}
.form-group.show-error::before {
  content: attr(error-msg);
  position: absolute;
  width: fit-content;
  height: 25px;
  background-color: var(--main-color-2);
  left: 0;
  top: -50px;
  border-radius: 6px;
  color: var(--main-color-4);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 10px;
  transition: 0.3s;
}
.form-group.show-error::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  clip-path: polygon(0 0, 100% 0, 50% 70%);
  background-color: var(--main-color-2);
  left: 7px;
  top: -18px;
}
@media (min-width: 768px) {
  .form-group.system-no {
    max-width: calc(50% - 20px);
  }

}
.form-group .msg-quest {
  width: 24px;
  height: 24px;
  stroke: white;
}
.form-group .msg-quest.hide {
  padding-top: 0;
}
.form-group .msg-quest:hover {
  stroke: var(--main-color-4);
}
/* .form-group .msg-quest:hover { ON CLICK ONLY
  padding-top: 100px;
} */
.form-group .gas-meter {
  position: absolute;
  right: 0;
  top: -125px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gas-meter.hide {
  transform: scale(0);
  opacity: 0;
}
.form-group .gas-meter::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--main-color-2);
  border-radius: 6px;
  z-index: -1;
  padding: 4px;
}
.form-group .gas-meter::After {
  content: "";
  position: absolute;
  right: 3px;
  bottom: -18px;
  width: 15px;
  height: 20px;
  background-color: var(--main-color-2);
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  border-radius: 50%;
  z-index: -1;
}
.form-group .f-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.form-group .drop-menu {
  stroke: white;
  width: 19px;
  height: 19px;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  /* z-index: 999; */
}
.form-group .drop-menu:hover {
  stroke: var(--main-color-4);
}
.form-group .drop-menu::before {
  content: var(--fa);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.form-group .citySelect {
  position: absolute;
  width: 100%;
  top: 50px;
  z-index: 999;
  background-color: #0057A23D;
  backdrop-filter: blur(1px);
}
ul.hide {
  display: none;
}
.form-group .citySelect li {
  color: white;
  background-color: var(--secondary-color);
  border-radius: 6px;
  padding: 8px 24px;
  margin: 8px 0;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}
.form-group .citySelect li:first-child {
  margin-top: 0;
}
.form-group .citySelect li:last-child {
  margin-bottom: 0;
}
.form-group .citySelect li:hover {
  background-color: var(--main-color-3);
}
.form-group.border {
  border-bottom: 2px solid var(--border-color);
}
.form-group.full-row {
  grid-column: 1 / -1;
}
/* .form-group.w-half {
  width: calc(50% - 10px);
} */
.form-group label {
  width: fit-content;
  font-size: 14px;
  margin-bottom: 6px;
  color: white;
  font-weight: 700;
  position: relative;
}
.form-group label[data-required="true"]::before {
  content: "*";
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--main-color-4);
}
.form-group label .thick {
  font-weight: 500;
  font-style: italic;
  font-size: 14px;
}
.form-group input {
  background-color: transparent;
  color: white;
  caret-color: white;
  padding-left: 1px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}
.form-group input::placeholder {
  color: white;
  opacity: 0.6;
}
.form-group input,
.form-group select {
  border: none;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
}
.form-group button {
  display: block;
  border: none;
  width: fit-content;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-radius: 6px;
  padding: 15px 30px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  margin: auto;
}
.form-group button:hover {
  background-color: var(--main-color-4);
  border-color: var(--main-color-4);
}
.checkbox label {
  font-size: 14px;
}
.checkbox input {
  margin-right: 8px;
}

.form-group .radios {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}
.form-group .radio {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-group .radio label {
  margin: 0;
  padding-left: 20px;
  margin-right: 28px;
  position: relative;
  cursor: pointer;
}
.form-group .radio label::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  border: 1px solid white;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.form-group .radio input[type="radio"] + label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color-4);
  top: 50%;
  transform: translateY(-50%) scale(0);
  left: 1px;
  transition: 0.3s;
}
.form-group .radio input[type="radio"]:checked + label::after {
  transform: translateY(-50%) scale(1);
}
.form-group .radio input[type="radio"] {
  appearance: none;
}
.form-group .price {
  display: block;
  color: white;
  text-align: left;
  font-weight: 500;
}
.form-group .price + input[name="refundable-gas-deposite"] {
  display: none;
}
.form-group .price span {
  color: var(--main-color-4);
}
.form-group.checkbox label {
  position: relative;
  margin: 0;
  padding-left: 40px;
  cursor: pointer;
}
.form-group.checkbox label a {
  color: var(--main-color-4);
  text-decoration: underline;
}
.form-group .date {
  stroke: white;
}
.form-group .date:hover { /*ICON*/
  stroke: var(--main-color-4);
}
::-webkit-calendar-picker-indicator {
  display: none;
}



.flatpickr-calendar	{
  background-color: var(--main-color-1);
  padding: 20px;
  width: 424px;
  min-height: 492px;
  border-radius: 20px !important;
  box-shadow: none !important;
}
@media (max-width: 767px) {
  .flatpickr-calendar {
    max-width: calc(100% - 48px);
    min-height: fit-content;
    left: 24px !important;
  }
}
.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
  left: 20px;
  top: 20px;
}
.flatpickr-months .flatpickr-prev-month.flatpickr-next-month,
.flatpickr-months .flatpickr-next-month.flatpickr-next-month {
  right: 20px;
  top: 20px;
}


.flatpickr-calendar:before,
.flatpickr-calendar:after,
.flatpickr-calendar.arrowTop::before {
  display: none;
  position: unset;
}
.flatpickr-prev-month,
.flatpickr-next-month {
  position: relative;
}
.flatpickr-prev-month svg path,
.flatpickr-next-month svg path {
  fill: white !important;
}
.flatpickr-monthDropdown-months {
  color: white !important;
  font-size: 20px !important;
  font-weight: 500 !important;
}
@media (max-width: 767px) {
  .flatpickr-monthDropdown-months {
    font-size: 14px !important;
  }
}
.numInput.cur-year {
  color: white !important;
  font-size: 20px !important;
  font-weight: 500 !important;
}
@media (max-width: 767px) {
  .numInput.cur-year {
    font-size: 14px !important;
  }
}
.arrowUp::after,
.arrowDown::after {
  color: white !important;
}
.flatpickr-weekdaycontainer {
  gap: 8px !important;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  font-size: 17px !important;
}
@media (max-width: 767px) {
  .flatpickr-weekdaycontainer {
    font-size: 14px !important;
    gap: 0 !important;
  }
}
.flatpickr-weekdays {
  margin-bottom: 8px;
}
.flatpickr-weekday {
  color: white !important;
  max-width: 48px !important;
  height: 48px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.dayContainer {
  gap: 8px;
  margin-bottom: 20px;
  width: fit-content;
  max-width: max-content !important;
}
@media (max-width: 767px) {
  .dayContainer {
    min-width: fit-content !important;
    gap: 8px 4px !important;
  }
}
.flatpickr-days {
  width: auto !important;
  max-width: max-content !important;
}
.flatpickr-day {
  color: white !important;
  background-color: var(--main-color-5) !important;
  border-radius: 8px;
  max-width: 48px !important;
  height: 48px !important;
  padding: 8px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: none;
}
@media (max-width: 767px) {
  .flatpickr-day {
    max-width: 36px !important;
    height: 36px !important;
    font-size: 18px;
  }
}
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover	{
  background-color: var(--main-color-3) !important;
}
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay {
  background-color: transparent !important;
}
.flatpickr-day.selected {
  position: relative;
}
.flatpickr-day.selected::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: var(--main-color-4);
  bottom: 5px;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .flatpickr-day.selected::before {
    bottom: 3px;
  }
}
.flatpickr-rContainer	{
  width: 100% !important;
}
.flatpickr-current-month {
  padding: 8px !important;
  margin-bottom: 8px !important;
}
.flatpickr-weekday {
  padding: 8px !important;
}
.flatpickr-day.disabled	{
  background-color: transparent !important;
}
.flatpickr-footer {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.flatpickr-cancel,
.flatpickr-confirm {
  font-size: 20px;
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  flex: 1;
  height: 48px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}
@media (max-width: 767px) {
  .flatpickr-cancel,
  .flatpickr-confirm {
    font-size: 14px !important;
  }
}
.flatpickr-cancel {
  background-color: var(--main-color-6);
}
.flatpickr-confirm {
  background-color: var(--main-color-3);
}





.form-group.checkbox label::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border: 1px solid white;
  border-radius: 6px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.form-group.checkbox label::after {
  content: "\f00c";
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: var(--main-color-4);
  padding: 2px;
  border-radius: 6px;
  left: 0;
  top: 50%;
  transform: translateY(-50%) scale(0) rotate(180deg);
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.form-group.checkbox input[type='checkbox'] {
  appearance: none;
  width: 0;
  height: 0;
}
.form-group.checkbox input[type='checkbox']:checked + label::after {
  transform: translateY(-50%) scale(1) rotate(0deg);
}
/* End Subscription Page */
/* Start Footer */
.footer {
  background-color: var(--main-color-3);
  margin-top: 64px;
}
.footer .container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 137.65px 64px 0;
  gap: 61.16px 0;
}
@media (max-width: 1300px) {
  .footer .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 922px) {
  .footer .container {
    grid-template-columns: 1fr;
    padding: 48px 20px 0;
    gap: 49px;
  }
}
.footer .foot {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer h2 {
  font-size: 36.75px;
  color: white;
  max-width: 405px;
}
@media (max-width: 767px) {
  .footer h2 {
    text-align: center;
  }
}
.footer .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 61px;
}
@media (max-width: 767px) {
  .footer .logo {
    margin-bottom: 30px;
  }
}
.footer .logo img {
  width: 254px;
  height: 165px;
}
.footer .logo .links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
}
@media (max-width: 767px) {
  .footer .logo .links {
    gap: 24px;
  }
}
.footer .logo .links a {
  color: white;
}
.footer .logo .links a i {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color-1);
  border-radius: 8px;
  font-size: 22px;
  padding: 18px;
}
.footer .footer-links {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 55px;
}
@media (max-width: 767px) {
  .footer .footer-links {
    flex-direction: column;
    gap: 48px;
  }
}
.footer .footer-links > div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 28.89px;
  position: relative;
}
@media (max-width: 767px) {
  .footer .footer-links > div {
    padding-left: 24px;
  }
}
.footer .footer-links > div::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 4px;
  background-color: white;
  border-radius: 6px;
  top: 8px;
  left: -24px;
}
@media (max-width: 767px) {
  .footer .footer-links > div::before {
    left: 3px;
  }
}
.footer .footer-links > div h3 {
  margin: 0;
  color: white;
  font-weight: 500;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .footer .footer-links > div h3 {
    margin-bottom: 5px;
  }
}
.footer .footer-links > div a {
  color: white;
}
.footer .footer-links > div a:hover {
  text-decoration: underline;
}
.footer .sep {
  grid-column: 1 / -1;
  height: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
@media (max-width: 767px) {
  .footer .sep {
    margin-top: 10px;
  }
}
.footer .sep span {
  display: block;
  height: 100%;
  width: 300px;
  background-color: white;
  border-radius: 6px;
}
@media (max-width: 767px) {
  .footer .sep span:first-child {
    width: 100%;
  }
  .footer .sep span:last-child {
    display: none;
  }
}
.footer .rights {
  grid-column: 1 / -1;
  text-align: center;
  width: 100%;
  color: white;
  margin-top: -20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 36.69px;
  padding-bottom: 25.5px;
}
/* End Footer */